@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
ul {
  list-style: none;
  padding-left: 0rem !important;
}
li {
  text-decoration: none;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  display: flex;
}

.content {
  padding: 0 5em 0 5em;
}

header .header-ld ul {
  display: inline-block;
}

header .header-ld ul li {
  width: auto !important;
  display: inline-flex;
}

header .header-ld ul li:nth-last-child(1) {
  padding-right: 0;
}

.nav-bloco-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
}
.nav-bloco-1 div {
  gap: 10px;
}
.nav-bloco-1 img {
  width: 10px;
}

.nav-bloco-1 a {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
}
.nav-bloco-1 a p {
  padding-left: 15px;
}

.nav-bloco-1 li a {
  display: inline-flex;
  transition: ease-in-out 0.3s;
  text-decoration: none;

}

.nav-bloco-1 li a:hover,
.nav-bloco-2 li a:hover,
.nav-bloco-3 li a:hover {
  transform: scale(1.1);
}

.nav-bloco-3 li a {
  display: inline-flex;
  transition: ease-in-out 0.3s;
  text-decoration: none;

}

nav {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 80px;
  border-right: solid 1px #eceef9;
}

.nav-bloco-2 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 100px;
  gap: 28px;
}
.nav-bloco-2 h5 {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.nav-bloco-2 a {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  display: inline-flex;
  transition: ease-in-out 0.3s;
  text-decoration: none;

}
.nav-bloco-2 div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.nav-bloco-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-bloco-3 a {
  color: var(--grey-01, #17171b);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  
}
.header-mobile {
  display: none;
}
.header-criar-pagina {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.header-criar-pagina p {
  padding-left: 15px;
}
header {
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px #eceef9;
}
.sugestoes:hover {
  color: rgb(28, 92, 189);
}
.header-le {
  padding-left: 30px;
}
.header-le input {
  width: 270px;
  border: none;
  outline: 0;
  margin-left: 15px;
  color: #929292;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
}

.header-meio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
  margin-right: 100px;
}
.header-meio b {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.header-meio p {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
}
.header-ld {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
}
.icon-notificacoes {
  margin-left: 10px;
}
.img-perfil {
  border-radius: 50px;
}
main {
  padding: 70px;
}
main h1 {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 45px;
}
main > p {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
  margin-bottom: 30px;
}

main > p b {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

main > a {
  color: #0081fb;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration-line: underline;
}
main > h3 {
  margin-top: 100px;
}
.dados {
  border-top: solid 3px #22263b;
  margin-bottom: 130px;
}
.dados div {
  padding-right: 20px;
}
.dados div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 25px;
  border-bottom: solid 1px #22263b;
}
.dados div h2 {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 28px;
  font-weight: 700;
}
.dados div p {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dados div img {
  width: 16px;
  margin-bottom: 15px;
}
#div-borda-amarela {
  border-bottom: solid 1px #f9ab00;
}
.div-faturas-e-minhas-paginas {
  justify-content: space-between;
}

.minhas-paginas {
  border-bottom: solid 3px #22263b;
  padding-bottom: 20px;
}
.minhas-paginas h4 {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 22px;
  font-weight: 600;
}
.minhas-paginas p {
  margin-top: 0px;
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
}
.faturas {
  border-bottom: solid 3px #22263b;
  padding-bottom: 20px;
}
.faturas h4 {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 22px;
  font-weight: 600;
}
.faturas p {
  margin-top: 0px;
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
}
.criar-pagina {
  height: 100px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #eceef9;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  padding: 1.5em 1em 1.5em 0em;
  transition: ease-in-out 0.3s;
}
.criar-pagina b {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.criar-pagina p {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.pagina-ativa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1em 1.5em 0em;
  transition: ease-in-out 0.3s;
}
.pagina-ativa b {
  color: #25d366;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
  margin-right: 17px;
}
.pagina-ativa p {
  margin-bottom: 0px;
  margin-top: 8px;
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
}
.pagina-ativa h5 {
  margin: 0px;
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.fatura-aberta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1em 1.5em 0em;
  transition: ease-in-out 0.3s;
}
.p-verde {
  margin-top: 5px;
  color: #25d366;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
  margin-right: 17px;
}
.p-vermelho {
  margin-top: 5px;
  color: #d32525;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
}
.p-azul {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
}
.b-azul {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.p-cinza {
  margin-bottom: 5px;
  color: #ababab;
  font-family: "Inter";
  font-size: 10px;
  font-weight: 500;
}
.fatura-aberta h5 {
  margin: 0px;
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.pagina-ativa-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.pagina-nao-configurada {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #eceef9;
  border-bottom: solid 1px #eceef9;
  padding: 1.5em 1em 1.5em 0em;
  transition: ease-in-out 0.3s;
}
.pagina-nao-configurada-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.pagina-nao-configurada h5 {
  margin: 0px;
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.pagina-nao-configurada p {
  margin-bottom: 0px;
  margin-top: 8px;
  color: #d3ad25;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
}
.fatura-recusada {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #eceef9;
  border-bottom: solid 1px #eceef9;
  padding: 1.5em 1em 1.5em 0em;
  transition: ease-in-out 0.3s;
}

.fatura-recusada h5 {
  margin: 0px;
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}

.criar-pagina:hover,
.pagina-ativa:hover,
.fatura-aberta:hover,
.fatura-recusada:hover,
.pagina-nao-configurada:hover {
  background: #eee;
  padding-left: 1em;
}
@media (max-width: 770px) {
  .content {
    padding: 0 30px 0 5px;
  }
  nav {
    display: none;
  }
  header {
    display: none;
  }
  .header-mobile {
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: solid 1px #eceef9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .offcanvas-start {
    width: 40% !important;
  }
  .offcanvas-end {
    width: 40% !important;
  }
  .button-mobile {
    border: 0px;
    background-color: #fff;
  }
  .img-perfil {
    width: 50%;
    border: #000000 solid 1px;
  }
  #button-menu {
    width: 20px;
    height: auto;
  }
}
@media (max-width: 600px) {
  .content {
    padding: 0 5px 0 5px;
  }
  nav {
    display: none;
  }
  header {
    display: none;
  }
  .header-mobile {
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: solid 1px #eceef9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .offcanvas-start {
    width: 80% !important;
  }
  .offcanvas-end {
    width: 80% !important;
  }
  .button-mobile {
    border: 0px;
    background-color: #fff;
  }
  .img-perfil {
    width: 50%;
    border: #000000 solid 1px;
  }
  #button-menu {
    width: 20px;
    height: auto;
  }

  .logoPagina {
    width: 50%;
    height: auto;
    padding-bottom: 3em;
  }
  .nav-bloco-2 {
    margin-bottom: 100px;
    gap: 28px;
  }

  .nav-bloco-2 div {
    align-items: center;
  }
  body {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }
  main {
    padding: 0px;
    margin-left: 10px;
  }
  .ld-body {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}
