@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

a {
  text-decoration: none;
}

body {
  display: flex;
}
nav {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 80px;
  border-right: solid 1px #eceef9;
}
.nav-bloco-1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 90px;
  margin-bottom: 200px;
}
.nav-bloco-1 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.nav-bloco-1 a {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
}
.nav-bloco-2 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 100px;
  gap: 28px;
}
.nav-bloco-2 img {
  width: 17px;
  height: 17px;
}
.nav-bloco-2 h5 {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.nav-bloco-2 a {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
}
.nav-bloco-2 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.nav-bloco-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-bloco-3 a {
  color: var(--grey-01, #17171b);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
}
.header-mobile {
  display: none;
}
header {
  height: 130px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #eceef9;
  padding-right: 10px;
}

.header-le {
  margin-left: 30px;
  margin-right: 180px;
}
.header-le input {
  width: 270px;
  border: none;
  outline: 0;
  margin-left: 15px;
  color: #929292;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
}

.header-criar-pagina {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
  margin-right: 100px;
}
.header-criar-pagina b {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.header-criar-pagina p {
  margin: 0px;
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
}
.header-ld {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon-notificacoes {
  margin-left: 10px;
}
.img-perfil {
  border-radius: 50px;
  margin-left: 22px;
}

main {
  margin-top: 30px;
  margin-left: 30px;
  padding-right: 10px;
}
main > h2 {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
main > p {
  color: #717171;
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.editar-pagina {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.editar-pagina b {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.pagina-editada {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pagina-editada-button {
  padding: 12px 23px;
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid var(--White-Blue, #f6f6fa);
  background-color: white;
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.pagina-editada-button:hover {
  border: #22263b;
  border-radius: 6px;
  background: var(--Azul-2, #22263b);
  color: #fff;
}
.pagina-editada-button-azul {
  border: #22263b;
  padding: 12px 23px;
  margin-right: 12px;
  border-radius: 6px;
  background: var(--Azul-2, #22263b);
  color: #fff;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.pagina-editada-button-azul:hover {
  border: 1px solid var(--White-Blue, #f6f6fa);
  background-color: white;
  color: var(--Azul-2, #22263b);
}

.editar-pagina p {
  color: #717171;
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.input-text {
  padding: 19px 23px;
  border-radius: 9px;
  border: 2px solid var(--White-Blue, #f6f6fa);
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.input-text-email {
  padding: 19px 23px;
  border-radius: 9px;
  border: 2px solid var(--White-Blue, #f6f6fa);
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.input-text-telefone {
  padding: 19px 23px;
  border-radius: 9px;
  border: 2px solid var(--White-Blue, #f6f6fa);
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.color-div {
  padding: 12px 15px;
  border-radius: 9px;
  border: 2px solid var(--White-Blue, #f6f6fa);
}
.img-adicionada {
  display: flex;
  flex-direction: row;
}
.img-adicionada button {
  margin-left: -20px;
  margin-top: -50px;
  border: 0px;
  background: none;
}

.enviar-foto {
  margin-top: 30px;
  border-radius: 10px;
  border: 1px dashed var(--Grey-07, #e3e3e3);
  background: var(--White, #fff);
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.label-file {
  color: var(--Grey-04, #484854);
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.label-file b {
  color: var(--Grey-04, #484854);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.button-procurar {
  width: 93px;
  height: auto;
  margin-top: 20px;
  padding: 4px 18px 4px 18px;
  color: var(--Grey-05, #737380);
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 169.231% */
  border-radius: 5px;
  border: 1px solid var(--Grey-06, #c8c6c6);
}

.button-procurar:hover {
  background-color: #c8c6c6;
  color: #fff;
}
.button-close {
  margin-top: -10px;
  margin-left: 5px;
}
.input-color {
  background: #fff;
  border: none;
  border-radius: 3px;
  width: 30px;
}
.input-color::-webkit-color-swatch {
  border: none;
  border-radius: 3px;
}
.text-area {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 178.571% */
  border-radius: 9px;
  border: 2px solid var(--White-Blue, #f6f6fa);
  resize: none;
}
.btn-fechar-backgrund {
  background: none;
  border: none;
}
.btn-fechar-logos{
  margin-top: -53px;
  margin-right: -130px;
  margin-bottom: 22px;
  background: none;
  border: none;
}
.img-banner-exmp {
  width: 100%;
  margin-bottom: -120px;
}
/* toggle*/
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 21.5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: -4px;
  right: 0px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  margin: 1px;
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.logos div {
  width: 137px;
  height: 108px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px dashed var(--Grey-07, #e3e3e3);
  background: var(--White, #fff);
}
.input-logo-cliente img {
  margin-bottom: 4px;
}
.input-logo-cliente {
  padding-left: 24px;
  width: 137px;
  height: 108px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border: 1px dashed var(--Grey-07, #e3e3e3);
  background: var(--White, #fff);
  color: var(--Grey-05, #737380);
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
@media (max-width: 600px) {
  nav {
    display: none;
  }
  header {
    display: none;
  }
  .header-mobile {
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: solid 1px #eceef9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .offcanvas-start {
    width: 80% !important;
  }
  .offcanvas-end {
    width: 80% !important;
  }
  .button-mobile {
    border: 0px;
    background-color: #fff;
  }
  .img-perfil {
    width: 50%;
    border: #000000 solid 1px;
  }
  #button-menu {
    width: 20px;
    height: auto;
  }
  .nav-bloco-1 {
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .nav-bloco-1 div {
    gap: 10px;
  }
  .nav-bloco-1 img {
    width: 10px;
    height: 10px;
  }
  .logoPagina {
    width: 50%;
    height: auto;
  }
  .nav-bloco-2 {
    margin-bottom: 100px;
    gap: 28px;
  }

  .nav-bloco-2 div {
    align-items: center;
  }
  body {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }

  main {
    margin-left: 10px;
    padding: 10px;
  }

  .ld-body {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}
