@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

ul {
  list-style: none;
  padding-left: 0rem !important;
}
li {
  text-decoration: none;
}

p {
  margin: 0;
}
main a {
  text-decoration: none;
}
body {
  display: flex;
}

.content {
  padding: 0 5em 0 5em;
}

header .header-ld ul {
  display: inline-block;
}

header .header-ld ul li {
  width: auto !important;
  display: inline-flex;
}

header .header-ld ul li:nth-last-child(1) {
  padding-right: 0;
}

.nav-bloco-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
}
.nav-bloco-1 div {
  gap: 10px;
}
.nav-bloco-1 img {
  width: 10px;
}

.nav-bloco-1 a {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
}
.nav-bloco-1 a p {
  padding-left: 15px;
}

.nav-bloco-1 li a {
  display: inline-flex;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

.nav-bloco-1 li a:hover,
.nav-bloco-2 li a:hover,
.nav-bloco-3 li a:hover {
  transform: scale(1.1);
}

.nav-bloco-3 li a {
  display: inline-flex;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 80px;
  border-right: solid 1px #eceef9;
}

.nav-bloco-2 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 100px;
  gap: 28px;
}
.nav-bloco-2 h5 {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.nav-bloco-2 a {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  display: inline-flex;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}
.nav-bloco-2 div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.nav-bloco-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-bloco-3 a {
  color: var(--grey-01, #17171b);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
}
.header-mobile {
  display: none;
}
.header-criar-pagina {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.header-criar-pagina p {
  padding-left: 15px;
}
header {
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px #eceef9;
}
.sugestoes:hover {
  color: rgb(28, 92, 189);
}
.header-le {
  padding-left: 30px;
}
.header-le input {
  width: 270px;
  border: none;
  outline: 0;
  margin-left: 15px;
  color: #929292;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
}

.header-meio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
  margin-right: 100px;
}
.header-meio b {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.header-meio p {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
}
.header-ld {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
}
.icon-notificacoes {
  margin-left: 10px;
}
.img-perfil {
  border-radius: 50px;
}
main {
  margin-top: 30px;
  margin-left: 30px;
}
main > h2 {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
main > p {
  color: #717171;
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.editar-pagina {
  display: flex;
  gap: 70px;
}
.editar-pagina b {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.edicao-de-paginas h2{
  color: var(--Azul-2, #22263B);
  font-family: "Inter";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.edicao-de-paginas p{
  color: #717171;
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.voce-esta-editando{
  color: var(--Azul-2, #22263B);
font-family: "Inter";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.capsula-advogados{
  color: var(--Azul-2, #22263B);
font-family: "Inter";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.ativo{
  color: #25D366;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.link-pagina-editada{
  color: var(--Azul-2, #22263B);
font-family: "Inter";
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.pagina-editada {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pagina-editada-button {
  padding: 12px 23px;
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid var(--White-Blue, #f6f6fa);
  background-color: white;
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: ease-in-out 0.3s;
}
.pagina-editada-button:hover {
  border: #22263b 1px solid;
  border-radius: 6px;
  background: var(--Azul-2, #22263b);
  color: #fff;
}
.pagina-editada-button-azul {
  border: #22263b 1px solid;
  padding: 12px 23px;
  margin-right: 12px;
  border-radius: 6px;
  background: var(--Azul-2, #22263b);
  color: #fff;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: ease-in-out 0.3s;
}
.pagina-editada-button-azul:hover {
  border: 1px solid var(--White-Blue, #f6f6fa);
  background-color: white;
  color: var(--Azul-2, #22263b);
}
.pagina-editada-button-azul-adicionar-membro {
  border: 1px solid #22263b;
  padding: 12px 23px;
  border-radius: 6px;
  background: var(--Azul-2, #22263b);
  color: #fff;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: ease-in-out 0.3s;
}
.pagina-editada-button-azul-adicionar-membro:hover {
  background-color: white;
  color: var(--Azul-2, #22263b);
}

.editar-pagina p {
  color: #717171;
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.input-text {
  padding: 19px 23px;
  border-radius: 9px;
  border: 2px solid var(--White-Blue, #f6f6fa);
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.input-text-email {
  padding: 19px 23px;
  border-radius: 9px;
  border: 2px solid var(--White-Blue, #f6f6fa);
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.input-text-telefone {
  padding: 19px 23px;
  border-radius: 9px;
  border: 2px solid var(--White-Blue, #f6f6fa);
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.color-div {
  width: 100%;
  padding: 12px 15px;
  border-radius: 9px;
  border: 2px solid var(--White-Blue, #f6f6fa);
}
.img-adicionada {
  display: flex;
  flex-direction: row;
}
.img-adicionada button {
  margin-left: -20px;
  margin-top: -50px;
  border: 0px;
  background: none;
}

.enviar-foto {
  margin-top: 30px;
  border-radius: 10px;
  border: 1px dashed var(--Grey-07, #e3e3e3);
  background: var(--White, #fff);
  display: flex;
  flex-direction: row;
  gap: 23px;
}
.enviar-foto-destaque {
  border-radius: 10px;
  border: 1px dashed var(--Grey-07, #e3e3e3);
  background: var(--White, #fff);
  display: flex;
  flex-direction: row;
  gap: 23px;
}

.label-file {
  color: var(--Grey-04, #484854);
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.label-file b {
  color: var(--Grey-04, #484854);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.button-procurar {
  width: 93px;
  height: auto;
  margin-top: 20px;
  padding: 4px 18px 4px 18px;
  color: var(--Grey-05, #737380);
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 169.231% */
  border-radius: 5px;
  border: 1px solid var(--Grey-06, #c8c6c6);
}

.button-procurar:hover {
  background-color: #c8c6c6;
  color: #fff;
}
.button-close {
  margin-top: -10px;
  margin-left: 5px;
}
.input-color {
  background: #fff;
  border: none;
  border-radius: 3px;
  width: 30px;
}
.input-color::-webkit-color-swatch {
  border: none;
  border-radius: 3px;
}
.text-area {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 178.571% */
  border-radius: 9px;
  border: 2px solid var(--White-Blue, #f6f6fa);
  resize: none;
}
.btn-fechar-backgrund {
  background: none;
  border: none;
  margin-right: -10px;
  margin-top: -27%;
}
.img-banner-exmp-md{
  padding-bottom: 40px;
 }
.btn-fechar-backgrund-destaque {
  background: none;
  border: none;
  margin-right: -13px;
  margin-top: -27%;
}
.btn-fechar-logos {
  margin-top: -53px;
  margin-right: -130px;
  margin-bottom: 22px;
  background: none;
  border: none;
}
.img-banner-exmp {
  width: 100%;
 
}
.img-background-Destaque-exmp {
  width: 100%;
}
/* toggle*/
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 21.5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: -4px;
  right: 0px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  margin: 1px;
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logos div {
  width: 137px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px dashed var(--Grey-07, #e3e3e3);
  background: var(--White, #fff);
}
.input-logo-cliente img {
  margin-bottom: 4px;
}
.input-logo-cliente {
  padding-left: 24px;
  width: 137px;
  height: 108px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  border: 1px dashed var(--Grey-07, #e3e3e3);
  background: var(--White, #fff);
  color: var(--Grey-05, #737380);
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.destaque {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.mostar-time {
  gap: 20px;
}
.fechar-img-time {
  background: none;
  border: none;
  margin-left: -19px;
  margin-top: -10px;
}
.card-time {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.card-time h5 {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 10.612px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.581px; /* 156.25% */
}
.card-time p {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 9.285px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.581px; /* 178.571% */
}
.card-time a {
  text-decoration: none;
  width: 100px;
  border-radius: 2px;
  border: 2px solid var(--White-Blue, #f6f6fa);
  background: #fff;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px 0px 4px 10px;
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 9.285px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.581px;
}
.card-time button {
  background: none;
  border: none;
  margin-top: -210px;
  margin-bottom: 201px;
  margin-right: -185px;
}
.label-depoimentos {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-depoimentos {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.card-depoimentos h5 {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 10.612px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.581px; /* 156.25% */
}
.card-depoimentos p {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 9.285px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.581px; /* 178.571% */
}
.card-depoimentos a {
  text-decoration: none;
  width: 70px;
  border-radius: 2px;
  border: 2px solid var(--White-Blue, #f6f6fa);
  background: #fff;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px 0px 4px 10px;
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 9.285px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.581px;
}
.card-depoimentos button {
  background: none;
  border: none;
  margin-top: -210px;
  margin-bottom: 201px;
  margin-right: -185px;
}
.pagina-editada-button-azul-area-atuacao {
  display: flex;
  align-items: start;
  border: 1px solid #22263b;
  padding: 12px 23px;
  border-radius: 6px;
  background: var(--Azul-2, #22263b);
  color: #fff;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: ease-in-out 0.3s;
}
.pagina-editada-button-azul-area-atuacao:hover {
  background-color: white;
  color: var(--Azul-2, #22263b);
}
.card-area-atuacao {
  padding-bottom: 33px;
  width: 362px;
  padding-top: 55px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  border: 3px solid var(--White-Blue, #f6f6fa);
}
.card-area-atuacao h2 {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-area-atuacao p {
  margin-top: 24px;
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 178.571% */
}
.card-area-atuacao a {
  text-decoration: none;
  width: 70px;
  border-radius: 2px;
  border: 2px solid var(--White-Blue, #f6f6fa);
  background: #fff;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px 0px 4px 10px;
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 9.285px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.581px;
}
.btn-fechar-areas-atuacao-card {
  display: flex;
  border: none;
  background: none;
  margin-top: -64px;
  margin-left: 297px;
  margin-bottom: 40px;
}
.btn-todas-areas-atuacao {
  border-radius: 2px;
  border: 2px solid var(--White-Blue, #f6f6fa);
  background: #fff;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px 4px 4px 10px;
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 9.285px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.581px;
}
.editar-todas-areas-atuacao {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #f6f6fa;
}
.editar-todas-areas-atuacao p {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.editar-todas-areas-atuacao-ultimo {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #f6f6fa;
  border-bottom: solid 1px #f6f6fa;
}
.editar-todas-areas-atuacao-ultimo p {
  color: var(--Azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.btn-fechar-icon-servico {
  border: none;
  background: none;
  margin-left: -20px;
}
@media (max-width: 770px) {

  .content {
    padding: 0 5px 0 5px;
  }
  nav {
    display: none;
  }
  header {
    display: none;
  }
  .header-mobile {
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: solid 1px #eceef9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .offcanvas-start {
    width: 40% !important;
  }
  .offcanvas-end {
    width: 40% !important;
  }
  .button-mobile {
    border: 0px;
    background-color: #fff;
  }
  .img-perfil {
    width: 50%;
    border: #000000 solid 1px;
  }
  #button-menu {
    width: 20px;
    height: auto;
  }
  .nav-bloco-1 {
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .nav-bloco-1 div {
    gap: 10px;
  }
  .nav-bloco-1 img {
    width: 10px;
    height: 10px;
  }
  .logoPagina {
    width: 50%;
    height: auto;
  }
  .nav-bloco-2 {
    margin-bottom: 100px;
    gap: 28px;
  }

  .nav-bloco-2 div {
    align-items: center;
  }
  body {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }

  main {
    margin-left: 10px;
    padding: 10px;
  }
  .teste-divs {
    width: 100%;
  }
  .ld-body {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  
}
@media (max-width: 600px) {
  
  .col-sm-12{
    width: 100% !important;
  }
  .col-sm-5 {
    width: 41.66666667% !important;
  }
  .col-sm-7 {
    width: 58.33333333% !important;
  }
  .content {
    padding: 0 5px 0 5px;
  }
  nav {
    display: none;
  }
  header {
    display: none;
  }
  .header-mobile {
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: solid 1px #eceef9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .offcanvas-start {
    width: 80% !important;
  }
  .offcanvas-end {
    width: 80% !important;
  }
  .button-mobile {
    border: 0px;
    background-color: #fff;
  }
  .img-perfil {
    width: 50%;
    border: #000000 solid 1px;
  }
  #button-menu {
    width: 20px;
    height: auto;
  }
  .nav-bloco-1 {
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .nav-bloco-1 div {
    gap: 10px;
  }
  .nav-bloco-1 img {
    width: 10px;
    height: 10px;
  }
  .logoPagina {
    width: 50%;
    height: auto;
  }
  .nav-bloco-2 {
    margin-bottom: 100px;
    gap: 28px;
  }

  .nav-bloco-2 div {
    align-items: center;
  }
  body {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }

  main {
    margin-left: 10px;
    padding: 10px;
  }
  .teste-divs {
    width: 100%;
  }
  .ld-body {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
 

}
