@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

a {
  text-decoration: none;
}
body {
  display: flex;
}
nav {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  border-right: solid 1px #eceef9;
  padding-bottom: 3em;
}
.nav-bloco-1 {
  display: block;
  margin-top: 90px;
  margin-bottom: 200px;
  overflow: auto;
  max-height: 400px;
  padding-right: 1em;
}
.nav-bloco-1 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.nav-bloco-1 a {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.nav-bloco-2 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 100px;
  gap: 28px;
}
.nav-bloco-2 h5 {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.nav-bloco-2 a {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
}
.nav-bloco-2 div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.nav-bloco-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-bloco-3 a {
  color: var(--grey-01, #17171b);
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
}
.header-mobile{
  display: none;
}
header {
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px #eceef9;
}

.header-le {
  padding-left: 30px;
}
.header-le input {
  width: 270px;
  border: none;
  outline: 0;
  margin-left: 15px;
  color: #929292;
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
}

.header-meio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
  margin-right: 100px;
}
.header-meio b {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.header-meio p {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
}
.header-ld {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
}
.icon-notificacoes {
  margin-left: 10px;
}
.img-perfil {
  border-radius: 50px;
  margin-left: 22px;
}
main {
  padding-left: 2em;
  margin-top: 3em;
}
.minhas-paginas {
  border-bottom: solid 3px #22263b;
  padding-bottom: 20px;
}
.minhas-paginas h4 {
  margin-bottom: 0px;
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 22px;
  font-weight: 600;
}
.minhas-paginas p {
  margin-top: 0px;
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 15px;
  font-weight: 400;
}
.criar-pagina {
  height: 100px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #eceef9;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  padding: 1.5em 1em 1.5em 0em;
  transition: ease-in-out 0.3s;
}
.criar-pagina b {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.criar-pagina p {
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.pagina-ativa {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1em 1.5em 0em;
  transition: ease-in-out 0.3s;
}
.pagina-ativa b {
  color: #25d366;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
  margin-right: 17px;
}
.pagina-ativa p {
  margin-bottom: 0px;
  margin-top: 8px;
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
}
.pagina-ativa h5 {
  margin: 0px;
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.pagina-ativa-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.pagina-nao-configurada {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #eceef9;
  border-bottom: solid 1px #eceef9;
  padding: 1.5em 1em 1.5em 0em;
  transition: ease-in-out 0.3s;
}
.pagina-nao-configurada-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.pagina-nao-configurada h5 {
  margin: 0px;
  color: var(--azul-2, #22263b);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
}
.pagina-nao-configurada p {
  color: #d3ad25;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
}
.btn-fale-com-nosso-time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 140px;
}
.btn-fale-com-nosso-time button {
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 13px;
  width: 209px;
  height: 61.213px;
  border-radius: 33.667px;
  border: 1px solid transparent;
  background: var(--azul-2, #22263b);
  color: var(--white, #fff);
  font-family: "Inter";
  font-size: 13.117px;
  font-weight: 600;
  transition: ease-in-out 0.3s;
}
.btn-fale-com-nosso-time button:hover{
  background: var(--white);
  border-color:var(--azul-2, #22263b);
  color:var(--azul-2, #22263b);
}
.criar-pagina:hover,
.pagina-ativa:hover,
.pagina-nao-configurada:hover {
    background: #eee;
    padding-left: 1em;
}
@media (max-width: 600px) {
  nav {
    display: none;
  }
  header {
    display: none;
  }
  .header-mobile{
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: solid 1px #eceef9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .offcanvas-start{
    width: 80% !important;
  }
  .offcanvas-end{
    width: 80% !important;
  }
  .button-mobile{
    border: 0px;
    background-color: #fff;
  }
  .img-perfil{
    width: 50%;
    border: #000000 solid 1px;
  }
  #button-menu{
      width: 20px;
      height: auto;
  }
  .nav-bloco-1 {
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .nav-bloco-1 div{
    gap: 10px;
  
  }
  .nav-bloco-1 img{
   width: 10px;
   height: 10px;
  }
  .logoPagina{
    width: 50%;
    height: auto;
  }
  .nav-bloco-2 {
    margin-bottom: 100px;
    gap: 28px;
  }

  .nav-bloco-2 div {
    align-items: center;
  }
  body {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
  }
  main{
    margin-left: 10px;
  }
  .ld-body{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  

.btn-fale-com-nosso-time {
    align-items: center;
    margin-top: 70px;
}
}
